@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GT-Walsheim";
  src: url("/GTWalsheimPro-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "GT-Walsheim";
  src: url("/GTWalsheimPro-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "GT-Walsheim";
  src: url("/GTWalsheimPro-Bold.ttf");
  font-weight: 700;
}
